// Define variables for your color scheme



$red: #FD1015;
$blue: #0D6EFD;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$yellow: #FFBF46;
$dark-blue: #005E7A;

$brown: #49321D;
$red: #A52422;

$vert: #688D75;
