// Define variables for your color scheme



$red: #FD1015;
$blue: #0D6EFD;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #ffd90013;
$paper: #4c008215 ;

$yellow: #FFD700 ;
$purple: #4B0082;

$brown: #49321D;
$red: #A52422;

$vert: #688D75;
