// Define variables for your color scheme

$red: #FD1015;
$blue: #0D6EFD;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$yellow: #FAD357;
$dark-blue:#1F1D5B;
$purple: #521268;
// $brown: #452103;
$brown :#B55D03;
$white-moon: #FAF4EC;
