.page {
  display: flex;
  margin-top: 40px;
  margin-bottom: 30px;
}

.main-page {
  width: 72%;
  background-color: #f8f9fa;
  border-radius: 20px;
}

.folder-holder {
  width:58%;
  padding: 20px;
  padding-bottom: 0px;
}

.map-holder {
  width: 42%;
  background: radial-gradient(circle at top, #2b2a4a 0, #151425 45%, #050308 100%);
  border-radius: 0px 20px 20px 0px;
  color: white;
}


// Specific CSS for your home-page
.show-body {
  display: flex;
  justify-content: space-evenly;

  margin-bottom: 15px;
  border-radius: 20px;
  max-width: 1300px;
}

.sign-up-body {
  // background: image-url("cover2.jpg");
  min-height: 100vh;
  // background-size: cover;
  // background-position: center;
  // background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sign-up-holder {
  width: 350px;
  text-align: center;
  background-color: $paper;
  border-radius: 8px;
  margin-top: 8px;
  padding: 30px;
  opacity: 95%;
}


.image-holder {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.dimension {
  width: 600px;
  height: 600px;
}

.inventory-grid {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 15px;
  padding: 15px;
  width: 900px;
}

.nav {
  display: flex ;
  flex-direction: column ;
  justify-content: center;
  width: 14%;
  gap: 24px;
}

.nav-link {
  border: 1px solid grey !important;
}

.nav-center {
}

.nav-button {
  width: 60%;
  margin-inline: auto;
  background-color: $purple !important;
  color: $yellow;
  background: none;
  border-radius: 10px;
  text-decoration: none;
  padding: 8px;
  height: 60px;

  &.active {
    box-shadow: 3px 3px 5px $yellow ;
  }
}
