.main-page {
  width: 90%;
  margin: auto;
}

.row {
  margin-left: 0px;
  margin-right: 0px;
  width: 100%
}

.room-main {
}

// Specific CSS for your home-page
.show-body {
  display: flex;
  justify-content: space-evenly;

  margin-bottom: 15px;
  border-radius: 20px;
  max-width: 1300px;

  border: 1px solid grey;
}

.sign-up-body {
  // background: image-url("cover2.jpg");
  min-height: 100vh;
  // background-size: cover;
  // background-position: center;
  // background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sign-up-holder {
  width: 350px;
  text-align: center;
  background-color: $paper;
  border-radius: 8px;
  margin-top: 8px;
  padding: 30px;
  opacity: 95%;
}

.folder_holder {
  display: flex;
  border-radius: 15px;
  margin-bottom: 15px;
  padding: 0px;
}

.map-holder {
  width: 25%;
}

.image-holder {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.dimension {
  width: 600px;
  height: 600px;
}

.inventory-grid {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 15px;
  padding: 15px;
  width: 900px;
}

.nav {
  border-bottom: 0px solid rgba(128, 128, 128, 0.81);
  margin-top: 40px !important;

  width: 95%;
  margin: auto ;
}

.nav-link {
  border: 1px solid grey !important;
}
