.main-page {
  width: 72%;
  margin: auto;
  background-color: white;
  border-radius: 20px;
  margin-bottom: 30px;
}

.folder-holder {
  width:60%;
  padding: 20px;
}

.map-holder {
  width: 40%;
  background: radial-gradient(circle at top, #2b2a4a 0, #151425 45%, #050308 100%);
  border-radius: 0px 20px 20px 0px;
  color: white;
}


// Specific CSS for your home-page
.show-body {
  display: flex;
  justify-content: space-evenly;

  margin-bottom: 15px;
  border-radius: 20px;
  max-width: 1300px;
}

.sign-up-body {
  // background: image-url("cover2.jpg");
  min-height: 100vh;
  // background-size: cover;
  // background-position: center;
  // background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sign-up-holder {
  width: 350px;
  text-align: center;
  background-color: $paper;
  border-radius: 8px;
  margin-top: 8px;
  padding: 30px;
  opacity: 95%;
}


.image-holder {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.dimension {
  width: 600px;
  height: 600px;
}

.inventory-grid {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 15px;
  padding: 15px;
  width: 900px;
}

.nav {
  border-bottom: 0px solid rgba(128, 128, 128, 0.81);
  margin-top: 10px !important;
  margin-bottom: 10px !important;

  width: 95%;
  margin: auto ;

  display: flex;
  justify-content: space-between;
}

.nav-link {
  border: 1px solid grey !important;
}

.nav-center {
  width: 600px;
  margin: auto;
}

.nav-button {
  color: $purple;
  background: none;
  border: 1px solid $purple ;
  border-radius: 5px;
  margin-right: 15px;
  text-decoration: none;
  padding: 8px;
}
