// Specific CSS for your home-page
.show-body {
  display: flex;
  margin-bottom: 15px;
  border-radius: 15px;
}

.sign-up-body {
  // background: image-url("cover2.jpg");
  min-height: 100vh;
  // background-size: cover;
  // background-position: center;
  // background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sign-up-holder {
  width: 350px;
  text-align: center;
  background-color: $paper;
  border-radius: 8px;
  margin-top: 8px;
  padding: 30px;
  opacity: 95%;
}

.folder_holder {
  display: flex;
  border-radius: 15px;
  max-width: 75%;
  margin-bottom: 15px;
}
