.sidebar-content {
  text-align: center;
}

.sidebar {
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  turbo-frame {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.sidebar-list {
  display: flex;
  flex-direction: column;
}

.sidebar-element {
  width : 120px;
  height: 40px;

  color: $gray;
  border: 3px solid!important;
  border-color: #8a8aaa #2a2a4a #2a2a4a #8a8aaa;
  border-radius: 5px;

  text-decoration: none;

  margin: 5px;
}

.sidebar-locked {
  color: #8a8aaa;
  text-decoration: line-through;
}
