.sidebar-content {
  text-align: center;

}

.sidebar-list {
  display: flex;
  flex-direction: column;
}

.sidebar-element {
  width : 120px;
  height: 40px;

  color: $gray;
  border: 3px solid!important;
  border-color: #8a8aaa #2a2a4a #2a2a4a #8a8aaa;
  border-radius: 5px;

  text-decoration: none;

  margin: 5px;
}
