

.color-1 {
  background-color: $yellow;
  color: black;
}

.color-2 {
  background-color: $dark-blue;

  font-size: 24px;
}

.color-4 {
 background-color: $brown;

}


.color-6 {
 background-color: $red;
}

.color-8 {

  background-color: $vert;
}

h1 {
  font-family: $merry;
}
h2 {
  font-family: $merry;
}
