

.color-1 {
  background-color: $yellow;
}

.color-2 {
  background-color: $dark-blue;
}

.color-3 {

  background-color: $purple;
}

.color-4 {
 background-color: $brown;
}

.color-5 {
  background-color: $white-moon;
}
