// SCSS VICTORY
.txt {
  border: 4mm ridge rgba(211, 220, 50, 0.6);
  text-align: center;

  h2 {
    font-size: $headers-font;
  }
}
.more {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  margin: 30px;

}
