// SCSS VICTORY
.txt {
  margin: 50px;
  padding: 100px;
  border: 4mm ridge $yellow;
  text-align: center;

  h2 {
    padding: 50px;
    font-family: $headers-font;
  }
}
.more {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  margin: 30px;

  .credits {
    justify-content: space-between;
  }

  .anecdotes p{
    justify-content: flex-end;
    padding: 50px;
  }

}
