<div class="navbar navbar-expand-sm navbar-light navbar-lewagon navbar-bar">
  <div class="container-fluid">

    <a class="navbar-brand" href="/">
      <i class="fa-solid fa-ghost fa-beat fa-xl"></i>
    </a>

   <h1> Unseen Evidence </h1>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if current_user %>
          <li class="nav-item active">
            <%= button_to "Log out", destroy_user_session_path, method: :delete, class:"logout-btn" %>
          </li>
        <% else %>
          <li class="nav-item active">
            <a class="nav-link" href="/users/sign_up">Sign Up</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/users/sign_in"> in</a>
          </li>
        <% end %>
      </ul>
    </div>

  </div>
</div>
