
<h1>UI kit</h1>
<hr>

<h1>Ceci est le titre numéro 1</h1>
<h2>Ceci est le titre numéro 2</h2>
<h3>Ceci est le titre numéro 3</h3>
<h4>Ceci est le titre numéro 4</h4>
<h5>Ceci est le titre numéro 5</h5>

<hr>
<div class="main-button" > main button </div>
<div class="secondary-button" > secondary button </div>
<hr>

<div class="container" style="display: flex">
  <div class="color-1" style="width: 200px; height: 200px; " >n° 1 </div>
  <div class="color-2" style="width: 200px; height: 200px">n° 2</div>
  <div class="color-4" style="width: 200px; height: 200px">n° 3</div>
  <div class="color-6" style="width: 200px; height: 200px">n° 4</div>
  <div class="color-8" style="width: 200px; height: 200px">n° 5</div>
</div>



  <ol>
    <li> Informations </li>
    <li> $purple pour les fonds principaux (écrans, menus, barres de navigation).</li>
    <li> Utilise $brown pour certains encarts, objets “physiques” (dossiers, carnets, panneaux en bois) ou éléments narratifs. </li>
    <li> $red pour les éléments critiques (sang, danger, alertes). </li>
    <li> $vert pour quelques accents (codes, interfaces techniques, poison). </li>
  </ol>
