
<h1>UI kit</h1>
<hr>

<h1>title 1</h1>
<h2>title 2</h2>
<h3>title 3</h3>
<h4>title 4</h4>
<h5>title 5</h5>

<hr>
<div class="main-button" > main button </div>
<div class="secondary-button" > secondary button </div>
<hr>

<div class="container" style="display: flex">
  <div class="color-1" style="width: 200px; height: 200px; " > color 1 </div>

  <div class="color-2" style="width: 200px; height: 200px"> color 2 </div>

  <div class="color-3" style="width: 200px; height: 200px"> color 3 </div>

  <div class="color-4" style="width: 200px; height: 200px"> color 4 </div>

  <div class="color-5" style="width: 200px; height: 200px"> color 5 </div>

</div>
