.purple-btn{
  font-family: $merry;
  font-size: 30px;
<<<<<<< HEAD
  padding: 5px;
=======
>>>>>>> 0524cd76b10cb452b299facfb392983ad0489954
  width: 270px;
  background-color: $purple;
  color: $yellow;
  border-radius: 30px;
  padding: 6px;
  &:hover {
    opacity: 80%;
    background-color: $purple;
  }
}
