.navbar-bar {
  background-color: $purple;
  background: radial-gradient(circle at top, #2b2a4a 0, #151425 45%, #050308 100%);
  display: flex;


  h1 {
    justify-content: center;
    font-size: 40px;
    font-family: $merry;
    color: $yellow;
  }

  .logout-btn{
    background-color: black;
    border: none;
    color: $yellow;
  }

  .nav-link {
   color: whitesmoke;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.paper-color {
  background-color: $paper;
}

.paper-folder {
  border-radius: 10px 10px 0px 0px !important;

  margin-left: 10px;
  color:black;
}
