.navbar-bar {
  background-color: $dark-blue;
  background: linear-gradient(to left, $gray, $dark-blue);
  display: flex;

  h1 {
    justify-content: center;
    font-size: 40px;
    font-family: $merry;
    color: whitesmoke;
  }

  .logout-btn{
    color: black;
  }

}




.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
