.navbar-bar {
  background-color: $dark-blue;
  background: linear-gradient(to left, $gray, $dark-blue);
  display: flex;

  h1 {
    justify-content: center;
    font-size: 40px;
    font-family: $merry;
    color: whitesmoke;
  }

  .logout-btn{
    color: black;
  }

  .nav-link {
   color: whitesmoke;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.paper-color {
  background-color: $paper;
}

.paper-folder {
  border-radius: 5px 5px 0px 0px;
  margin-left: 10px;
  color:black;
}
